node_modules
  .next
  dist
  .env
  .env.local
  .env.*.local
  apps/frontend/.env
  apps/backend/.env
  pnpm-lock.yaml
  yarn.lock
  package-lock.json
  .DS_Store
  .git
  coverage
  logs
  *.log
  mongo-data
  # Next.js build artifacts
apps/frontend/.next/